<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Email</title>
</head>
<body style="margin: 0">
<table style="width: 100%; padding: 4px 35px; background-color: #92bfdb; box-sizing: border-box">
  <tr>
    <td style="font-size: 20px; text-align: left;">
      <b>LOGO</b>
    </td>
    <td style="text-align: right;">

    </td>
  </tr>
</table>
<table style="width: 100%; padding: 45px 35px; box-sizing: border-box; background-color: #c6e1f2;">
  <tr>
    <td style="font-size: 18px; text-align: center;">
      Good day!
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">
      <p style="margin: 17px 0 0;">
        Dear {{last_name}} {{first_name}}, User with ID: {{user_id}} created advertisement with profanity violation.

      </p>
      <p style="margin: 17px 0 0;">
        Advertisement ID: {{car_id}}
      </p>

    </td>
  </tr>
</table>
<table style="width: 100%; padding: 10px 35px; background-color: #92bfdb; box-sizing: border-box">
  <tr>
    <td style="font-size: 14px; text-align: center;">
      RIA clone - Copyright © 2024
    </td>
  </tr>
  <tr>
    <td style="font-size: 10px; text-align: center;">
    </td>
  </tr>
</table>
</body>
</html>